:root {
    --main-color: #757575;
    --second-main-color:#212121;
    --main-background-color: #FFFFFF;
    --hover-color:#2196F3;
}


body {
    color: var(--main-color);
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-background-color)
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
}

ul,
li {
    list-style: none;
    text-align: none;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* header*/
header {
    background-color: var(--main-background-color);
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    border-bottom: 1px solid #ECECEC;
}

.conteiner-header-one {
    display: flex;
}

.nav-conteiner {
    display: flex;
}


.logo {
    color: var(--hover-color);
}

.logo-one {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    text-decoration-line: none;
    color: #000000;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;

}


.header-nav-list {
    display: flex;
}

.title-header {}

.header-list {
    color: var(--second-main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    text-decoration-line: none;
}

.title-header {
    list-style-type: none;
    text-align: center;
    list-style-type: none;
    background-color: var(--main-background-color);
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 50px;
}

.title-header:first-child {
    margin-left: 0px;
}

.header-list:hover {
    color: var(--hover-color);
}

.header-list:focus {
    color: var(--hover-color);
}

.header-contact {
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 344px;
}

.title-contact-header {
    margin-left: 50px;
}

.title-contact-header:first-child {
    margin-left: 0px;
}

.link-maito,
.link-tel {
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    text-decoration-line: none;

}

.link-maito:hover,
:focus {
    color: var(--hover-color);
}

.link-tel:hover,
:focus {
    color: var(--hover-color);
}

/* main*/


.portfolio{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

 .button{
    display:flex;
    text-decoration-line: none; 
    margin-bottom: 50px;
    justify-content: center;   
 }
 .title-button{
margin-left: 8px;


 }
.title-button:first-child{
    margin-left: 0;
}

.button-list {
    font-family: "Roboto", sans-serif;
    background-color: #F5F4FA;
    color: var(--second-main-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    display: inline;
    border-radius: 4px;
    min-width:59px ;
    min-height: 26px;
    padding-left: 22px;
    padding-right:22px ;
    padding-top: 6px;
    padding-bottom:6px ;
    border: none;
    }

 .button-list:hover,.button-list:focus {
    background-color:var(--hover-color);
    color: var(--main-background-color);   
 }


  .menue { 
    display: flex;
     flex-wrap: wrap; 
    list-style-type: none;
    gap: 30px;
   
}
  
.title-list{
    background-color: var(--main-background-color);
    padding-top: none;
    }
 .menue-card {
border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
border-bottom: 1px solid #EEEEEE;
border-top: none;
padding-right: 24px;
padding-left: 24px;
padding-top: 20px;
padding-bottom: 20px;
box-shadow: X1 Y4 B6 S0 rgba(0, 0, 0, 0.16) 0 Y4 B4 S0 rgba(0, 0, 0, 0.06) Y1 B1 S0 rgba(0, 0, 0, 0.12);

 }

.menue-list {
    color:var(--second-main-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
    
    
}

.menue-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
     
}



/* footer*/


footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}


.adress {
    color: var(--main-background-color);
}

.adress:hover,
:focus {
    color: var(--hover-color);
}

.adress-list {
    font-style: normal;
    margin-top: 20px;
}

.adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-decoration-line: none;


}

.title-contact-footer {
    margin-bottom: 9px;
}

.title-contact-footer:last-child {
    margin-bottom: 0;
}

.logo-two {
    color: var(--main-background-color);
    text-decoration-line: none;

}

.logo-two,
.logo-tree {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
}

.logo-tree {
    color: var(--hover-color);
    text-decoration-line: none;
}