:root {
    --main-color:#757575;
    --main-background-color:#FFFFFF;
    --second-main-color:#212121;
    --hover-color:#2196F3;
}


body {
    color: var(--main-color);
    font-family:'Roboto',sans-serif;
    background-color: var(--main-background-color) }
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li { margin: 0;}

ul,
li {
    list-style: none;
    text-align: none;
    padding: 0;
}

 img{
    display: block;
    max-width: 100%;
    height: auto;
 }



 

/* header*/
header {
    background-color: var(--main-background-color);
}
.conteiner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px; 
}

.header-container{
border-bottom: 1px solid #ECECEC;
}

.conteiner-header-one {
display: flex;
}
.nav-conteiner{
display: flex;
}

 
.logo  {
color: var(--hover-color);
    }
   
.logo-one  {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    text-decoration-line: none;
    color: #000000; 
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
    
}


.header-nav-list{
    display:flex;
}


.header-list {
    color: var(--second-main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    text-decoration-line: none;     
}

.title-header{
list-style-type: none;
text-align: center;
list-style-type: none;
background-color: var(--main-background-color);
padding-top: 32px;
padding-bottom: 32px;
margin-left: 50px;
}
.title-header:first-child {
margin-left: 0px;}

.header-list:hover {
    color: var(--hover-color);
}

.header-list:focus {
    color: var(--hover-color);
}

.header-contact{
display: inline-flex;
padding-top: 32px;
padding-bottom: 32px;
margin-left: 344px; 
}
.title-contact-header{
    margin-left: 50px;
}
.title-contact-header:first-child {
    margin-left: 0px;
}

.link-maito,
.link-tel {
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    text-decoration-line: none;
   
}

.link-maito:hover,
:focus {
    color: var(--hover-color);
}

.link-tel:hover,
:focus {
    color: var(--hover-color);}

.link-envelop:hover,
:focus {
    color: var(--hover-color);
}
.link-tel:hover,
:focus {
    color: var(--hover-color);
}

 /* idea */


.idea
{   background-color: #2F303A;
    color: var(--main-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../img/hero.png);
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-position: center;
    
    
}
  
    .idea-name {font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-transform:uppercase;
        width: 696px;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center; 
    }
  
    
.button-item {
    font-family: "Roboto", sans-serif;
    background-color:var(--hover-color) ;
    color: var(--main-background-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;
    align-items: center;
    letter-spacing: 0.06em;
    min-width: 216px;
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:32px ;
    padding-right:32px ;
    border-radius: 4px;
    border: none;
    display: flex;
    margin: 0 auto;
   
   
}

.button-item:hover,.button-item:focus {

background-color: #188CE8;
color: var(--main-background-color);
}

/* list section */

.list-section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.container-list{
    display: flex;

}
.title{
    width: 270px;
    margin-left: 30px;
}
.title:first-child {
    margin-left: 0px;
}

.list-item
{ color: var(--second-main-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-transform: uppercase;
   margin-bottom: 10px;
}
   
.list-text {
font-weight: 400;
font-size: 14px;
line-height: calc(24/14);}

/* section our job */
.section-job{
    padding-bottom: 94px;
}

 .container-our-job{
display: flex;
flex-wrap: wrap;
gap: 30px;
 }


.our-job
{ color: var(--second-main-color);
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
margin-bottom: 50px;

}
/* section our team */
.team-section{
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.title-list{
    background-color: var(--main-background-color);
    border-radius: 0px 0px 4px 4px;
}
.our-team {
    color: var(--second-main-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;  

}

.our-team-list
{ color:var(--second-main-color);
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
  }

.our-team-list {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.team-text {
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
margin-top: 10px;
margin-bottom: 30px;
text-align: center;
}

.client{
    background-color: var(--main-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.client-name {
font-family: "Roboto", sans-serif;
font-size: 36px;
text-align: center;
color: var(--second-main-color);
font-weight: 700;
line-height: 1.17;
}


/* footer*/


footer {
background-color: #2F303A;
padding-top: 60px;
padding-bottom: 60px;
}


.adress {
  color: var(--main-background-color);
}
.adress:hover,:focus {
    color: var(--hover-color);
}
.adress-list {
    font-style: normal;
    margin-top: 20px;
}
.adress
{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-decoration-line: none;

}
.title-contact-footer {
 margin-bottom: 9px;
}
.title-contact-footer:last-child {
    margin-bottom: 0;
}

.logo-two {
    color: var(--main-background-color);
    text-decoration-line: none;
 
}
.logo-two , .logo-tree {
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26); 
}
.logo-tree {
    color: var(--hover-color);
    text-decoration-line: none;
    }
   .footer-social-contact
   {font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: center;
    color: var(--main-background-color);
    font-weight: 700;
    line-height: 1.17;
    width: 116px;}
    

 